http_interactions:
- request:
    method: GET
    uri: https://vectorbyte.crc.nd.edu/portal/api/
  response:
    status: 200
    headers:
      Allow: GET, HEAD, OPTIONS
      Content-Type: application/json
    body:
      string: '{"VecTraits Datasets List":"http://vectorbyte.crc.nd.edu/portal/api/vectraits-explorer/","VecTraits
        Individual Dataset Rows (Dataset ID 1 given as example)":"http://vectorbyte.crc.nd.edu/portal/api/vectraits-dataset/1/","VecTraits
        Dataset IDs Related by Citation (Dataset ID 1 given as example)":"http://vectorbyte.crc.nd.edu/portal/api/vectraits-get-related-datasets/1/","VecTraits
        Dataset IDs Related by Genus (Dataset ID 1 given as example)":"http://vectorbyte.crc.nd.edu/portal/api/vectraits-get-related-datasets-by-genus/1/","VecTraits
        Dataset IDs Related by Curation Project (Dataset ID 1 given as example)":"http://vectorbyte.crc.nd.edu/portal/api/get_related_by_curation_project/1/","VecTraits
        Template Downloads":"http://vectorbyte.crc.nd.edu/portal/api/vectraits-template-download/","VecTraits
        Column Definitions":"http://vectorbyte.crc.nd.edu/portal/api/vectraits-columns/","VecDyn
        Datasets List":"http://vectorbyte.crc.nd.edu/portal/api/vecdynbyprovider/","VecDyn
        Individual Dataset Species (Dataset ID 40 given as example)":"http://vectorbyte.crc.nd.edu/portal/api/vecdyn-detail/40/","VecDyn
        Individual Data Row Data (Dataset ID 40 given as example)":"http://vectorbyte.crc.nd.edu/portal/api/vecdyncsv/?piids=40","VecDyn
        Column Definitions":"http://vectorbyte.crc.nd.edu/portal/api/vecdyn-columns/","VecDyn
        Template Downloads":"http://vectorbyte.crc.nd.edu/portal/api/vecdyn-template-download/"}'
  recorded_at: 2026-01-13 13:19:45
- request:
    method: GET
    uri: https://github.com/pearselab/areadata/raw/main/output/
  response:
    status: 200
    headers:
      content-type: text/html; charset=utf-8
      etag: W/"d66f69ba20a1dcd80f09f346af90511d"
    body:
      string: "\n\n\n\n\n\n<!DOCTYPE html>\n<html\n  lang=\"en\"\n  \n  data-color-mode=\"auto\"
        data-light-theme=\"light\" data-dark-theme=\"dark\"\n  data-a11y-animated-images=\"system\"
        data-a11y-link-underlines=\"true\"\n  \n  >\n\n\n\n\n  <head>\n    <meta charset=\"utf-8\">\n
        \ <link rel=\"dns-prefetch\" href=\"https://github.githubassets.com\">\n  <link
        rel=\"dns-prefetch\" href=\"https://avatars.githubusercontent.com\">\n  <link
        rel=\"dns-prefetch\" href=\"https://github-cloud.s3.amazonaws.com\">\n  <link
        rel=\"dns-prefetch\" href=\"https://user-images.githubusercontent.com/\">\n
        \ <link rel=\"preconnect\" href=\"https://github.githubassets.com\" crossorigin>\n
        \ <link rel=\"preconnect\" href=\"https://avatars.githubusercontent.com\"[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/
  response:
    status: 200
    headers:
      last-modified: Tue, 01 Feb 2022 22:58:38 GMT
      etag: '"ab1-5d6fcd77c3a78-gzip"'
      content-type: text/html
    body:
      string: "<!DOCTYPE HTML>\n<!-- This page is for display at https://api.gbif.org/
        and https://api.gbif-uat.org/ -->\n<html>\n\t<head>\n\t\t<meta charset=\"utf-8\"/>\n\t\t<meta
        name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n\t\t<title>GBIF
        API</title>\n\t\t<style type=\"text/css\">\n\t\t\thtml {\n\t\t\t\tcolor: #333;\n\t\t\t\tfont:
        1.2em/1.4 Helvetica, Arial, Geneva, sans-serif;\n\t\t\t\tbackground-color:
        #ffffff;\n\t\t\t\tbackground-image: url(\"data:image/svg+xml,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'
        xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%0D%0A  viewBox%3D'0
        0 476.24922 237.20944' height%3D'237.20944' width%3D'476.24921' version%3D'1.1'
        id%3D'svg2'%3E%0D%0A  %3Cg id%3D'logo' tran[...]
- request:
    method: GET
    uri: https://api.figshare.com/
  response:
    status: 200
    headers:
      content-type: text/html
      etag: W/"68d51aa5-24c8f"
      last-modified: Thu, 25 Sep 2025 10:34:13 GMT
    body:
      string: "<!DOCTYPE html>\n<html>\n<head>\n    <title>Figshare documentation</title>\n\n
        \   <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n
        \   <meta http-equiv=\"Cache-Control\" content=\"max-age=120\"/>\n    <link
        rel=\"icon\" type=\"image/png\" href=\"/images/favicon-16x16.png\" sizes=\"16x16\">\n
        \   <link rel=\"icon\" type=\"image/png\" href=\"/images/favicon-32x32.png\"
        sizes=\"32x32\">\n    <link rel=\"icon\" type=\"image/png\" href=\"/images/favicon-96x96.png\"
        sizes=\"96x96\">\n    <link rel=\"icon\" type=\"image/png\" href=\"/images/favicon-196x196.png\"
        sizes=\"196x196\">\n    <link rel=\"icon\" type=\"image/png\" href=\"/images/favicon-128.png\"
        sizes=\"128x128\">\n\n    <!--[if lt IE 9]>\n    <script src=\"http://html5shim.googlecode.com/svn/trunk/html5.js\"></script><![endif]-->\n
        \   <!--style type=\"text/css\"></style-->\n\n    <link href=\"css/index.css\"
        rel=\"stylesheet\"/>\n    <link href='css/standalone.css' rel='stylesheet'/>\n
        \   <link href='css/api-explorer.css' rel='stylesheet' type='text/css'/>\n
        \   <link href='css/screen.css' media='screen' rel='stylesheet' type='text/css'/>\n\n\n\n
        \   <script src='lib/jquery-1.8.0.min.js' type='text/j[...]
[...]
