http_interactions:
- request:
    method: GET
    uri: https://vectorbyte.crc.nd.edu/portal/api/vectraits-dataset/1?format=json
  response:
    status: 200
    headers:
      Allow: GET, HEAD, OPTIONS
      Content-Type: application/json
    body:
      string: '{"results":[{"Id":"81518","DatasetID":1,"IndividualID":"","OriginalID":"PHX801","OriginalTraitName":"development
        time","OriginalTraitDef":"mean duration of life stage","StandardisedTraitName":null,"StandardisedTraitDef":null,"OriginalTraitValue":21.3,"OriginalTraitUnit":"days","OriginalErrorPos":0.31,"OriginalErrorNeg":0.31,"OriginalErrorUnit":"se","StandardisedTraitValue":null,"StandardisedTraitUnit":null,"StandardisedErrorPos":null,"StandardisedErrorNeg":null,"StandardisedErrorUnit":null,"Replicates":null,"Habitat":"terrestrial","LabField":"laboratory","ArenaValue":null,"ArenaUnit":null,"ArenaValueSI":null,"ArenaUnitSI":null,"AmbientTemp":null,"AmbientTempMethod":null,"AmbientTempUnit":null,"AmbientLight":null,"AmbientLightUnit":null,"SecondStressor":null,"SecondStressorDef":null,"SecondStressorValue":null,"SecondStressorUnit":null,"TimeStart":null,"TimeEnd":null,"TotalObsTimeValue":null,"TotalObsTimeUnit":null,"TotalObsTimeValueSI":null,"TotalObsTimeUnitSI":null,"TotalObsTimeNotes":null,"ResRepValue":null,"ResRepUnit":null,"ResRepValueSI":null,"ResRepUnitSI":null,"Location":"Nonsan-si
        Republic of Korea","LocationType":"field","OriginalLocationDate":null,"LocationDate":"2009-01-01","LocationDatePrecision":"1","CoordinateType":"decimal","Latitude":36.5,"Longitude":126.75,"Interactor1":"Acyrthosiphon
        pisum","Interactor1Common":"Pea aphid","Interactor1Wholepart":null,"Interactor1WholePartType":null,"Interactor1Number":"39","Interactor1Kingdom":"Animalia","Interactor1Phylum":"Arthropoda","Interactor1Class":"Insecta","Interactor1Order":"Hemiptera","Interactor1Family":"Aphididae","Interactor1Genus":"Acyrthosiphon","Interactor1Species":"pisum","Interactor1Stage":"juvenile","Interactor1Sex":null,"Interactor1Temp":10.0,"Interactor1TempUnit":"Celsius","Interactor1TempMethod":null,"Interactor1GrowthTemp":null,"Interactor1GrowthTempUnit":null,"Interactor1GrowthDur":null,"Interactor1GrowthdDurUnit":null,"Interactor1GrowthType":null,"Interactor1Acc":null,"Interactor1AccTemp":null,"Interactor1AccTempNotes":null,"Interactor1AccTime":null,"Interactor1AccTimeNotes":null,"Interactor1AccTimeUnit":null,"Interactor1OrigTemp":null,"Interactor1OrigTempNotes":null,"Interactor1OrigTime":null,"Interactor1OrigTimeNotes":null,"Interactor1OrigTimeUnit":null,"Interactor1EquilibTimeValue":null,"Interactor1EquilibTimeUnit":null,"Interactor1Size":null,"Interactor1SizeUnit":null,"Interactor1SizeType":null,"Interactor1SizeSI":null,"Interactor1SizeUnitSI":null,"Interactor1DenValue":null,"Interactor1DenUnit":null,"Interactor1DenTypeSI":null,"Interactor1DenValueSI":null,"Interactor1DenUnitSI":null,"Interactor1MassValueSI":null,"Interactor1MassUnitSI":null,"Interactor2":"None
        None","Interactor2Common":null,"Interactor2Kingdom":null,"Interactor2Phylum":null,"Interactor2Class":null,"Interactor2Order":null,"Interactor2Family":null,"Interactor2Genus":null,"Interactor2Species":null,"Interactor2Stage":null,"Interactor2Sex":null,"Interactor2Temp":null,"Interactor2TempUnit":null,"Interactor2TempMethod":null,"Interactor2GrowthTemp":null,"Interactor2GrowthTempUnit":null,"Interactor2GrowthDur":null,"Interactor2GrowthDurUnit":null,"Interactor2GrowthType":null,"Interactor2Acc":null,"Interactor2AccTemp":null,"Interactor2AccTempNotes":null,"Interactor2AccTime":null,"Interactor2AccTimeNotes":null,"Interactor2AccTimeUnit":null,"Interactor2OrigTemp":null,"Interactor2OrigTempNotes":null,"Interactor2OrigTime":null,"Interactor2OrigTimeNotes":null,"Interactor2OrigTimeUnit":null,"Interactor2EquilibTimeValue":null,"Interactor2EquilibTimeUnit":null,"Interactor2Size":null,"Interactor2SizeUnit":null,"Interactor2SizeType":null,"Interactor2SizeSI":null,"Interactor2SizeUnitSI":null,"Interactor2DenValue":null,"Interactor2DenUnit":null,"Interactor2DenTypeSI":null,"Interactor2DenValueSI":null,"Interactor2DenUnitSI":null,"Interactor2MassValueSI":null,"Interactor2MassUnitSI":null,"PhysicalProcess":null,"PhysicalProcess_1":null,"PhysicalProcess_2":null,"FigureTable":"table
        1","Citation":"Ahn et al. 2020. Thermal effects on the population parameters
        and growth of Acyrthosiphon pisum (Harris) (Hemiptera: Aphididae). Insects
        11:8","CuratedByCitation":null,"CuratedByDOI":null,"DOI":"10.3390/insects11080481","SubmittedBy":"Paul
        Huxley","ContributorEmail":"phuxly@gmail.com","Notes":"reared on faba bean
        leaves","DefaultChartXaxis":"Interactor1Temp","DefaultChartCategory":"Location"},{"Id":"81519","DatasetID":1,"IndividualID":"","OriginalID":"PHX801","OriginalTraitName":"development
        time","OriginalTraitDef":"mean duration of life stage","StandardisedTraitName":null,"StandardisedTraitDef":null,"OriginalTraitValue":12.2,"OriginalTraitUnit":"days","OriginalErrorPos":0.23,"OriginalErrorNeg":0.23,"OriginalErrorUnit":"se","StandardisedTraitValue":null,"StandardisedTraitUnit":null,"StandardisedErrorPos":null,"StandardisedErrorNeg":null,"StandardisedErrorUnit":nu[...]
