http_interactions:
- request:
    method: GET
    uri: https://vectorbyte.crc.nd.edu/portal/api/vecdynbyprovider
  response:
    status: 200
    headers:
      Allow: GET, HEAD, OPTIONS
      Content-Type: application/json
    body:
      string: '{"data":{"count":460,"next":"http://vectorbyte.crc.nd.edu/portal/api/vecdynbyprovider/?page=2","previous":null,"results":[{"Id":216,"SpeciesName":["Aedes
        abserratus","Aedes aurifer","Aedes canadensis complex","Aedes cinereus","Aedes
        grossbecki","Aedes japonicus complex","Aedes nigromaculis","Aedes sollicitans","Aedes
        sp.","Aedes sticticus","Aedes thibaulti","Aedes triseriatus","Aedes trivittatus","Aedes
        vexans","Anopheles barberi","Anopheles crucians","Anopheles punctipennis","Anopheles
        quadrimaculatus","Anopheles sp.","Anopheles walkeri","BLANK","Coquillettidia
        perturbans","Culex pipiens morphological group","Culex salinarius","Culex
        sp.","Culex tarsalis","Culex territans","Culicidae","Culiseta inornata","Culiseta
        melanura","Culiseta sp.","Psorophora ciliata","Psorophora cyanescens","Psorophora
        ferox","Psorophora howardii","Psorophora sp.","Uranotaenia sapphirina"],"Title":"2023
        Mosquito Surveillance St Joseph County Indiana USA","Tags":["St Joseph County"],"ContactName":"Sam
        Rund","Collections":208,"Years":["2023"],"CollectionMethods":["CDCLIGHT co2;light","GRAVID
        none","RESTING BOX CATCH none"],"EmbargoReleaseDate":"","AverageGPSCoords":[41.7414187016023,-86.4756993865166],"contact_name":"Sam
        Rund","contributoremail":"srund@nd.edu","submittedby":"Sam Rund","citation":null,"collection_author_name":null,"contact_affiliation":"University
        of Notre Dame","curatedbycitation":null,"curatedbydoi":null,"data_rights":null,"dataset_license":null,"doi":null,"email":"srund@nd.edu","row_count":1498},{"Id":217,"SpeciesName":["Aedes
        cinereus","Aedes dorsalis","Aedes fitchii","Aedes increpitus","Aedes melanimon","Aedes
        nigromaculis","Aedes sierrensis","Aedes sticticus","Aedes vexans","Anopheles
        freeborni","BLANK","Coquillettidia perturbans","Culex pipiens","Culex tarsalis","Culiseta
        incidens","Culiseta inornata","Culiseta minnesotae"],"Title":"2021-2023 Ada,
        Idaho","Tags":["Ada County Weed, Pest, and Mosquito"],"ContactName":"Desireé
        Keeney[...]
- request:
    method: GET
    uri: https://vectorbyte.crc.nd.edu/portal/api/vecdynbyprovider?page=2
  response:
    status: 200
    headers:
      Allow: GET, HEAD, OPTIONS
      Content-Type: application/json
    body:
      string: '{"data":{"count":460,"next":"http://vectorbyte.crc.nd.edu/portal/api/vecdynbyprovider/?page=3","previous":"http://vectorbyte.crc.nd.edu/portal/api/vecdynbyprovider/","results":[{"Id":411,"SpeciesName":["Acizzia
        Russellae"],"Title":"Acizzia Russellae Captur[...]
[...]
- request:
    method: GET
    uri: https://vectorbyte.crc.nd.edu/portal/api/vecdyncsv?format=json&page=1&piids=364
  response:
    status: 200
    headers:
      Allow: GET, HEAD, OPTIONS
      Content-Type: application/json
    body:
      string: '{"count":6,"digitized_from_graph":true,"consistent_data":{"title":"Aphid
        Sampling of Infested Orange Shoots in Northeast Algeria (2013)","species":"Aphididae
        spp.","sample_sex":"mixed","sample_unit":"Mean number of aphids per orange
        shoot","submittedby":"Chloe Boyea","contact_name":"Salim Lebbal","sample_stage":"Nymphs
        and Adults","sample_lat_dd":"36.7","sample_long_dd":"6.7833333","sampling_method":"Controlled
        random sampling of 5 infested orange shoots","contributoremail":"cboyea@nd.edu","species_id_method":"Unknown","subsampling_details":"Presumed
        Aphis spiraecola, Aphis craccivora, Aphis gossypii, and Macrosiphum euphorbiae
        for Aphididae spp.","time_shift_possible":"True","digitized_from_graph":"True","location_description":"Emjez
        Djich, Skikda, Northeast Algeria","date_uncertainty_due_to_graph":"True"},"results":[{"datasetid":364,"sample_start_date":"2012-11-01","sample_end_date":"2012-11-01","sample_value":"240.7725262","sample_environment_measurements":null,"location_error":null,"location_error_units":null,"remarks_comments":null,"species_identification_flag":null,"collection_problem_flag":null,"internally_inconsistent_flag":null},{"datasetid":364,"sample_start_date":"2012-10-01","sample_end_date":"2012-10-01","sample_value":"39.9141703","sample_environment_measurements":null,"location_error":null,"location_error_units":null,"remarks_comments":null,"species_identification_flag":null,"collection_problem_flag":null,"internally_inconsistent_flag":null},{"datasetid":364,"sample_start_date":"2012-05-01","sample_end_date":"2012-05-01","sample_value":"85.62233164","sample_environment_measurements":null,"location_error":nul[...]
