http_interactions:
- request:
    method: GET
    uri: https://vectorbyte.crc.nd.edu/portal/api/vectraits-explorer?format=json
  response:
    status: 200
    headers:
      Allow: GET, HEAD, OPTIONS
      Content-Type: application/json
    body:
      string: '{"data":{"count":1445,"next":"http://vectorbyte.crc.nd.edu/portal/api/vectraits-explorer/?format=json&page=2","previous":null,"results":[{"url":"vectorbyte.crc.nd.edu/portal/api/vectraits-dataset/1/","DatasetID":"1","OriginalTraitName":"development
        time","Variables":null,"Interactor1Stage":"juvenile (birth to adult)","Interactor1Sex":null,"Interactor1Genus":"Acyrthosiphon","Interactor1Species":"pisum","Interactor2Genus":null,"Interactor2Species":null,"Citation":"Ahn
        et al. 2020. Thermal effects on the population parameters and growth of Acyrthosiphon
        pisum (Harris) (Hemiptera: Aphididae). Insects 11:8","DOI":"10.3390/insects11080481","CuratedByDOI":null,"SubmittedBy":"Paul
        Huxley","EmbargoReleaseDate":"2020-01-01"},{"url":"vectorbyte.crc.nd.edu/portal/api/vectraits-dataset/2/","DatasetID":"2","OriginalTraitName":"fecundity","Variables":null,"Interactor1Stage":"adult","Interactor1Sex":"female","Interactor1Genus":"Acyrthosiphon","Interactor1Species":"pisum","Interactor2Genus":null,"Interactor2Species":null,"Citation":"Ahn
        et al. 2020. Thermal effects on the population parameters and growth of Acyrthosiphon
        pisum (Harris) (Hemiptera: Aphididae). Insects 11:8","DOI":"10.3390/insec[...]
