http_interactions:
- request:
    method: GET
    uri: https://vectorbyte.crc.nd.edu/portal/api/vecdynbyprovider?format=json
  response:
    status: 200
    headers:
      Allow: GET, HEAD, OPTIONS
      Content-Type: application/json
    body:
      string: '{"data":{"count":467,"next":"http://vectorbyte.crc.nd.edu/portal/api/vecdynbyprovider/?format=json&page=2","previous":null,"results":[{"Id":216,"SpeciesName":["Aedes
        abserratus","Aedes aurifer","Aedes canadensis complex","Aedes cinereus","Aedes
        grossbecki","Aedes japonicus complex","Aedes nigromaculis","Aedes sollicitans","Aedes
        sp.","Aedes sticticus","Aedes thibaulti","Aedes triseriatus","Aedes trivittatus","Aedes
        vexans","Anopheles barberi","Anopheles crucians","Anopheles punctipennis","Anopheles
        quadrimaculatus","Anopheles sp.","Anopheles walkeri","BLANK","Coquillettidia
        perturbans","Culex pipiens morphological group","Culex salinarius","Culex
        sp.","Culex tarsalis","Culex territans","Culicidae","Culiseta inornata","Culiseta
        melanura","Culiseta sp.","Psorophora ciliata","Psorophora cyanescens","Psorophora
        ferox","Psorophora howardii","Psorophora sp.","Uranotaenia sapphirina"],"Location":["None"],"Provider":null,"Title":"2023
        Mosquito Surveillance St Joseph County Indiana USA","Tags":null,"Sites":["St.
        Joseph County","South Bend","IN"],"Collections":208,"Years":["2023"],"CollectionMethods":["CDCLIGHT
        co2;light","GRAVID none","RESTING BOX CATCH none"],"EmbargoReleaseDate":""},{"Id":217,"SpeciesName":["Aedes
        cinereus","Aedes dorsalis","Aedes fitchii","Aedes increpitus","Aedes melanimon","Aedes
        nigromaculis","Aedes sierrensis","Aedes sticticus","Aedes vexans","Anopheles
        freeborni","BLANK","Coquillettidia perturbans","Culex pipiens","Culex tarsalis","Culiseta
        incidens","Culiseta inornata","Culiseta minnesotae"],"Location":[null],"Provider":null,"Title":"2021-2023
        Ada, Idaho","Tags":null,"Sites":["Ada County, Idaho"],"Collectio[...]
