http_interactions:
- request:
    method: GET
    uri: https://vectorbyte.crc.nd.edu/portal/api/vectraits-explorer?format=json&keywords=atropalpus
  response:
    status: 200
    headers:
      Allow: GET, HEAD, OPTIONS
      Content-Type: application/json
    body:
      string: '{"data":{"count":4,"next":null,"previous":null,"results":[{"url":"vectorbyte.crc.nd.edu/portal/api/vectraits-dataset/143/","DatasetID":"143","OriginalTraitName":"body
        size","Variables":["Unplottable",null],"Interactor1Stage":"adult","Interactor1Sex":"female","Interactor1Genus":"Aedes","Interactor1Species":"atropalpus","Interactor2Genus":null,"Interactor2Species":null,"Citation":"Gulia-Nuss
        et al. 2015. Multiple factors contribute to anautogenous reproduction by the
        mosquito Aedes aegypti. J Insect Physiol. 82","DOI":"10.1016/j.jinsphys.2015.08.001","CuratedByDOI":null,"SubmittedBy":"Paul
        Huxley","EmbargoReleaseDate":"2015-01-01"},{"url":"vectorbyte.crc.nd.edu/portal/api/vectraits-dataset/145/","DatasetID":"145","OriginalTraitName":"lipid
        content","Variables":["Unplottable",null],"Interactor1Stage":"adult","Interactor1Sex":"female","Interactor1Genus":"Aedes","Interactor1Species":"atropalpus","Interactor2Genus":null,"Interactor2Species":null,"Citation":"Gulia-Nuss
        et al. 2015. Multiple factors contribute to anautogenous reproduction by the
        mosquito Aedes aegypti. J Insect Physiol. 82",[...]
