http_interactions:
- request:
    method: GET
    uri: https://vectorbyte.crc.nd.edu/portal/api/vecdynbyprovider?format=json&keywords=atropalpus
  response:
    status: 200
    headers:
      Allow: GET, HEAD, OPTIONS
      Content-Type: application/json
    body:
      string: '{"data":{"count":58,"next":"http://vectorbyte.crc.nd.edu/portal/api/vecdynbyprovider/?format=json&keywords=atropalpus&page=2","previous":null,"results":[{"Id":223,"SpeciesName":["Aedes
        abserratus","Aedes aegypti","Aedes atropalpus","Aedes c. canadensis","Aedes
        cinereus","Aedes dorsalis","Aedes excrucians","Aedes fitchii","Aedes hendersoni","Aedes
        japonicus complex","Aedes sp.","Aedes sticticus","Aedes stimulans","Aedes
        triseriatus","Aedes trivittatus","Aedes vexans","Anopheles barberi","Anopheles
        perplexens","Anopheles punctipennis","Anopheles quadrimaculatus","Anopheles
        sp.","Anopheles walkeri","BLANK","Coquillettidia perturbans","Coquillettidia
        sp.","Culex erraticus","Culex pipiens","Culex pipiens morphological group","Culex
        restuans","Culex salinarius","Culex sp.","Culex tarsalis","Culex territans","Culiseta
        impatiens","Culiseta inornata","Culiseta morsitans","Culiseta sp.","Orthopodomyia
        signifera","Psorophora ciliata","Psorophora ferox","Psorophora horrida","Psorophora
        howardii","Psorophora sp.","Psorophora varipes","Uranotaenia sapphirina"],"Location":[null],"Provider":null,"Title":"2003-2006
        Mosquito Surveillance St Joseph County Indiana USA","Tags":null,"Sites":["St.
        Joseph County, Indiana, USA"],"Collections":1240,"Years":["2003","2004","2005","2006"],"CollectionMethods":["CDCLIGHT
        co2;light","CDCLIGHT light","GRAVID hay or grass infusion"],"EmbargoReleaseDate":""},{"Id":349,"SpeciesName":["Aedes
        abserratus","Aedes atropalpus","Aedes aurifer","Aedes canadensis complex","Aedes
        cinereus","Aedes dorsalis","Aedes excrucians","Aedes fitchii","Aedes flavescens","Aedes
        hendersoni","Aedes sollicitans","Aedes sp.","Aedes sticticus","Aedes stimulans","Aedes
        triseriatus","Aedes trivittatus","Aedes vexans","Anopheles barberi","Anopheles
        crucians","Anopheles punctipennis","Anopheles quadrimaculatus","Anopheles
        sp.","A[...]
