http_interactions:
- request:
    method: GET
    uri: https://api.vbdhub.org/search?query=Ixodes+ricinus&database=vd&limit=1&page=1&withoutPublished=true
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      origin-agent-cluster: ?1
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"count":4,"hits":[{"id":"961","title":"Prevalence of tick-borne pathogens
        in feeding and questing Ixodes ricinus ticks from Southern Sweden","doi":"10.1016/j.ttbdis.2025.102453","type":"abundance","citation":"Chiara
        Cialini, Alessandra Cafiso, Mattias Waldeck, Asa Lundgren, Johan Falt, Bo
        Settergren, Phimphanit Choklikitumnuey, Giulia Chiappa, Eleonora Rosso, Laura
        Roveri, Elisa Fesce, Nicola Ferrari, Per-Eric Lindgren, Chiara Bazzocchi,
        Giulio Grandi, Prevalence of tick-borne pathogens in feeding and questing
        Ixodes ricinus ticks from Southern Sweden, Ticks and Tick-borne Diseases,
        Volume 16, Issue 2, 2025, 102453, ISSN 1877-959X","kingdom":[],"phylum":[],"class":[],"order":[],"family":[],"genus":[],"species":[],"unknown":[],"db":"vd"}]}'
  recorded_at: 2025-10-31 15:35:08
[...]
