http_interactions:
- request:
    method: GET
    uri: https://vectorbyte.crc.nd.edu/portal/api/vecdynbyprovider?format=json&field=SpeciesName&operator=contains&term=ricinus
  response:
    status: 200
    headers:
      Allow: GET, HEAD, OPTIONS
      Content-Type: application/json
    body:
      string: '{"data":{"count":5,"next":null,"previous":null,"results":[{"Id":552,"SpeciesName":["Ixodes
        persulcatus","Ixodes ricinus"],"Location":[null],"Provider":null,"Title":"Ticks
        and Tick-Borne Pathogens in Popular Recreational Areas in Tallinn, Estonia:
        The Underestimated Risk of Tick-Borne Diseases","Tags":null,"Sites":[null],"Collections":14,"Years":["2018"],"CollectionMethods":["flagging"],"EmbargoReleaseDate":""},{"Id":556,"SpeciesName":["Ixodes
        ricinus"],"Location":[null],"Provider":null,"Title":"Acarological Risk of
        Borrelia burgdorferi Sensu Lato Infections Across Space and Time in The Netherlands","Tags":null,"Sites":[null],"Collections":655,"Years":["2006","2007","2008","2009","2010","2011"],"CollectionMethods":["dragging"],"EmbargoReleaseDate":""},{"Id":557,"SpeciesName":["Dermacentor
        marginatus","Dermacentor reticulatus","Haemaphysalis punctata","Ixodes ricinus"],"Locat[...]
