http_interactions:
- request:
    method: GET
    uri: https://api.vbdhub.org/search?query=Aedes&database=vt%2Cvd%2Cgbif%2Cpx&limit=1&page=1&withoutPublished=true&geometry=MULTIPOLYGON+%28%28%28++++++++++++++++++++++++++-4.601692249172345+59.18721395065515%2C++++++++++++++++++++++++++-1.5564374591013461+59.09157727402243%2C++++++++++++++++++++++++++2.7317784697742695+51.70725619550282%2C++++++++++++++++++++++++++-0.3756243772367611+50.100597554419096%2C++++++++++++++++++++++++++-6.27968978655835+49.53924199886393%2C++++++++++++++++++++++++++-5.47176504633498+52.357229445873315%2C++++++++++++++++++++++++++-6.031097558797256+53.92277755807382%2C++++++++++++++++++++++++++-8.889908178047193+54.323411308259836%2C++++++++++++++++++++++++++-8.392723722525744+58.21875779916627%2C++++++++++++++++++++++++++-4.601692249172345+59.18721395065515++++++++++++++++++++++++%29%29%29
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      origin-agent-cluster: ?1
      x-railway-edge: railway/europe-west4-drams3a
      x-railway-request-id: KOwBRPKxT0ehodTxjUJq2g
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"count":8,"hits":[{"id":"85390b2e-b2dc-451e-aeb0-5ecb8532c033","title":"Mosquito
        Occurrences in the UK - Review of Literature","description":"This dataset
        compiles records of mosquito occurrences across the United Kingdom from a
        systematic review of scientific literature, covering species presence, location
        coordinates, and seasonal patterns. It focuses on native and invasive mosquito
        genera, including Culex, Anopheles, and Aedes, to aid in the spatial and temporal
        understanding of mosquito distribution within the UK.\nThe dataset was compiled
        following PRISMA guidelines for systematic reviews, using search engines Web
        of Science, PubMed and Scopus. It includes 503 records extracted from 22 peer-reviewed
        studies, with presence/absence data, species/genus classification, geographical
        coordinates (where available), collection methods, and seasonal occurrence.
        Records without abundance data (136 entries), coordinates (70 entries), or
        seasonal information (24 entries) were noted.","doi":"10.15468/jrpmxs","type":"occurrence","author":"uknbn","citation":"One
        Health VBD Hub (2025). Mosquito Occurrences in the UK - Review of Literature.
        Occurrence dataset https://doi.org/10.15468/jrpmxs accessed via GBIF.org on
        2025-12-05.","published":"2025-02-14T00:00:00.000Z","kingdom":[],"phylum":[],"class":[],"order":[],"family":[],"genus":[],"species":[],"unknown":[],"db":"gbif"}]}'
  recorded_at: 2025-12-09 23:19:57
[...]
- request:
    method: GET
    uri: https://api.vbdhub.org/search?query=2000-2010+in+Tyrnava&database=vt%2Cvd%2Cgbif%2Cpx&limit=1&page=1&withoutPublished=true&exact=true
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      origin-agent-cluster: ?1
      x-railway-edge: railway/europe-west4-drams3a
      x-railway-request-id: XeUHxxQmRR60GBVhjUJq2g
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"count":1,"hits":[{"id":"355","title":"Total Aphids caught Annually
        2000-2010 in Tyrnava-Liminka, Finland in Suction Traps","type":"abundance","kingdom":[],"phylum":[],"class":[],"order":[],"family":[],"genus":[],"species":[],"unknown":[],"db":"vd"}]}'
  recorded_at: 2025-12-09 23:19:59
- request:
    method: GET
    uri: https://api.vbdhub.org/search?query=2000-2010+in+Tyrnava&database=vt%2Cvd%2Cgbif%2Cpx&limit=50&page=1&withoutPublished=true&exact=true
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      origin-agent-cluster: ?1
      x-railway-edge: railway/europe-west4-drams3a
      x-railway-request-id: KOGJy7kpQwC5kYtAjUJq2g
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"count":1,"hits":[{"id":"355","title":"Total Aphids caught Annually
        2000-2010 in Tyrnava-Liminka, Finland in Suction Traps","type":"abundance","kingdom":[],"phylum":[],"class":[],"order":[],"family":[],"genus":[],"species":[],"unknown":[],"db":"vd"}]}'
  recorded_at: 2025-12-09 23:19:59
recorded_with: VCR-vcr/2.0.0
