http_interactions:
- request:
    method: GET
    uri: https://vectorbyte.crc.nd.edu/portal/api/vectraits-dataset/474?format=json
  response:
    status: 200
    headers:
      Allow: GET, HEAD, OPTIONS
      Content-Type: application/json
    body:
      string: '{"results":[{"Id":"89092","DatasetID":474,"IndividualID":"","OriginalID":"PHX11","OriginalTraitName":"fecundity
        rate","OriginalTraitDef":"mean eggs per unit time","StandardisedTraitName":null,"StandardisedTraitDef":null,"OriginalTraitValue":0.0,"OriginalTraitUnit":"eggs
        individual-1 day-1","OriginalErrorPos":null,"OriginalErrorNeg":null,"OriginalErrorUnit":"se","StandardisedTraitValue":null,"StandardisedTraitUnit":null,"StandardisedErrorPos":null,"StandardisedErrorNeg":null,"StandardisedErrorUnit":null,"Replicates":null,"Habitat":"terrestrial","LabField":"laboratory","ArenaValue":null,"ArenaUnit":null,"ArenaValueSI":null,"ArenaUnitSI":null,"AmbientTemp":null,"AmbientTempMethod":null,"AmbientTempUnit":null,"AmbientLight":null,"AmbientLightUnit":null,"SecondStressor":null,"SecondStressorDef":null,"SecondStressorValue":null,"SecondStressorUnit":null,"TimeStart":null,"TimeEnd":null,"TotalObsTimeValue":null,"TotalObsTimeUnit":null,"TotalObsTimeValueSI":null,"TotalObsTimeUnitSI":null,"TotalObsTimeNotes":null,"ResRepValue":null,"ResRepUnit":null,"ResRepValueSI":null,"ResRepUnitSI":null,"Location":"Marilia
        Brazil","LocationType":"field","OriginalLocationDate":null,"LocationDate":null,"LocationDatePrecision":"0","CoordinateType":"decimal","Latitude":-22.213889,"Longitude":-49.945833,"Interactor1":"Aedes
        aegypti","Interactor1Common":"Yellow fever mosquito","Interactor1Wholepart":null,"Interactor1WholePartType":null,"Interactor1Number":null,"Interactor1Kingdom":"Animalia","Interactor1Phylum":"Arthropoda","Interactor1Class":"Insecta","Interactor1Order":"Diptera","Interactor1Family":"Culicidae","Interactor1Genus":"Aedes","Interactor1Species":"aegypti","Interactor1Stage":"adult","Interactor1Sex":"female","Interactor1Temp":10.54,"Interactor1TempUnit":"Celsius","Interactor1TempMethod":null,"Interactor1GrowthTemp":null,"Interactor1GrowthTempUnit":null,"Interactor1GrowthDur":null,"Interactor1GrowthdDurUnit":null,"Interactor1GrowthType":null,"Interactor1Acc":null,"Interactor1AccTemp":null,"Interactor1AccTempNotes":null,"Interactor1AccTime":null,"Interactor1AccTimeNotes":null,"Interactor1AccTimeUnit":null,"Interactor1OrigTemp":null,"Interactor1OrigTempNotes":null,"Interactor1OrigTime":null,"Interactor1OrigTimeNotes":null,"Interactor1OrigTimeUnit":null,"Interactor1EquilibTimeValue":null,"Interactor1EquilibTimeUnit":null,"Interactor1Size":null,"Interactor1SizeUnit":null,"Interactor1SizeType":null,"Interactor1SizeSI":null,"Interactor1SizeUnitSI":null,"Interactor1DenValue":null,"Interactor1DenUnit":null,"Interactor1DenTypeSI":null,"Interactor1DenValueSI":null,"Interactor1DenUnitSI":null,"Interactor1MassValueSI":null,"Interactor1MassUnitSI":null,"Interactor2":"None
        None","Interactor2Common":null,"Interactor2Kingdom":null,"Interactor2Phylum":null,"Interactor2Class":null,"Interactor2Order":null,"Interactor2Family":null,"Interactor2Genus":null,"Interactor2Species":null,"Interactor2Stage":null,"Interactor2Sex":null,"Interactor2Temp":null,"Interactor2TempUnit":null,"Interactor2TempMethod":null,"Interactor2GrowthTemp":null,"Interactor2GrowthTempUnit":null,"Interactor2GrowthDur":null,"Interactor2GrowthDurUnit":null,"Interactor2GrowthType":null,"Interactor2Acc":null,"Interactor2AccTemp":null,"Interactor2AccTempNotes":null,"Interactor2AccTime":null,"Interactor2AccTimeNotes":null,"Interactor2AccTimeUnit":null,"Interactor2OrigTemp":null,"Interactor2OrigTempNotes":null,"Interactor2OrigTime":null,"Interactor2OrigTimeNotes":null,"Interactor2OrigTimeUnit":null,"Interactor2EquilibTimeValue":null,"Interactor2EquilibTimeUnit":null,"Interactor2Size":null,"Interactor2SizeUnit":null,"Interactor2SizeType":null,"Interactor2SizeSI":null,"Interactor2SizeUnitSI":null,"Interactor2DenValue":null,"Interactor2DenUnit":null,"Interactor2DenTypeSI":null,"Interactor2DenValueSI":null,"Interactor2DenUnitSI":null,"Interactor2MassValueSI":null,"Interactor2MassUnitSI":null,"PhysicalProcess":null,"PhysicalProcess_1":null,"PhysicalProcess_2":null,"FigureTable":"table
        5","Citation":"Yang et al. 2009. Assessing the effects of temperature on the
        population of Aedes aegypti the vector of dengue. Epidemiology & Infection
        137","CuratedByCitation":null,"CuratedByDOI":null,"DOI":"10.1017/S0950268809002040","SubmittedBy":"Paul
        Huxley","ContributorEmail":"phuxly@gmail.com","Notes":null,"DefaultChartXaxis":"Interactor1Temp","DefaultChartCategory":"LocationText"},{"Id":"89093","DatasetID":474,"IndividualID":"","OriginalID":"PHX11","OriginalTraitName":"fecundity
        rate","OriginalTraitDef":"mean eggs per unit time","StandardisedTraitName":null,"StandardisedTraitDef":null,"OriginalTraitValue":0.0,"OriginalTraitUnit":"eggs
        individual-1 day-1","OriginalErrorPos":null,"OriginalErrorNeg":null,"OriginalErrorUnit":"se","StandardisedTraitValue":null,"StandardisedTraitUnit":null,"StandardisedErrorPos":null,"StandardisedErrorNeg":null,"[...]
[...]
