http_interactions:
- request:
    method: GET
    uri: https://api.vbdhub.org/search?query=Aedes+aegypti&database=vt&limit=1&page=1&withoutPublished=true
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      origin-agent-cluster: ?1
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"count":71,"hits":[{"id":"474","title":"Yang et al. 2009. Assessing
        the effects of temperature on the population of Aedes aegypti the vector of
        dengue. Epidemiology & Infection 137","doi":"10.1017/S0950268809002040","type":"trait","kingdom":["Animalia"],"phylum":["Arthropoda"],"class":["Insecta"],"order":["Diptera"],"family":["Culicidae"],"genus":["Aedes"],"species":["Aedes
        aegypti"],"unknown":[],"db":"vt"}]}'
  recorded_at: 2025-11-01 00:44:40
[...]
