http_interactions:
- request:
    method: GET
    uri: https://api.vbdhub.org/search?query=Bemisia&database=vt&limit=1&page=1&withoutPublished=true
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      origin-agent-cluster: ?1
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"count":13,"hits":[{"id":"160","title":"Huang et al 2008. Effects
        of temperature on development survival longevity and fecundity of the Bemisia
        tabaci Gennadius (Homoptera: Aleyrodidae) predator Axinoscymnus cardilobus
        (Coleoptera: Coccinellidae). Biol Control 46: 209-215.","doi":"10.1016/j.biocontrol.2008.04.004","type":"trait","kingdom":["Animalia"],"phylum":["Arthropoda"],"class":["Insecta"],"order":["Coleoptera","Hemiptera"],"family":["Coccinellidae","Aleyrodidae"],"genus":["Axinoscymnus","Bemisia"],"species":["Axinoscymnus
        cardilobus","Bemisia tabaci"],"unknown":[],"db":"vt"}]}'
  recorded_at: 2025-11-01 00:44:50
[...]
- request:
    method: GET
    uri: https://vectorbyte.crc.nd.edu/portal/api/vectraits-dataset/160?format=json
  response:
    status: 200
    headers:
      Allow: GET, HEAD, OPTIONS
      Content-Type: application/json
    body:
      string: '{"results":[{"Id":"83438","DatasetID":160,"IndividualID":"","OriginalID":"LC1111","OriginalTraitName":"longevity","OriginalTraitDef":"mean
        duration of life stage","StandardisedTraitName":null,"StandardisedTraitDef":null,"OriginalTraitValue":163.1,"OriginalTraitUnit":"days","OriginalErrorPos":5.0,"OriginalErrorNeg":5.0,"OriginalErrorUnit":"se","StandardisedTraitValue":null,"StandardisedTraitUnit":null,"StandardisedErrorPos":null,"StandardisedErrorNeg":null,"StandardisedErrorUnit":null,"Replicates":null,"Habitat":"terrestrial","LabField":"laboratory","ArenaValue":null,"ArenaUnit":null,"ArenaValueSI":null,"ArenaUnitSI":null,"AmbientTemp":null,"AmbientTempMethod":null,"AmbientTempUnit":null,"AmbientLight":null,"AmbientLightUnit":null,"SecondStressor":null,"SecondStressorDef":null,"SecondStressorValue":null,"SecondStressorUnit":null,"TimeStart":null,"TimeEnd":null,"TotalObsTimeValue":null,"TotalObsTimeUnit":null,"TotalObsTimeValueSI":null,"TotalObsTimeUnitSI":null,"TotalObsTimeNotes":null,"ResRepValue":null,"ResRepUnit":null,"ResRepValueSI":null,"ResRepUnitSI":null,"Location":"South
        China Agriculture University","LocationType":"colony","OriginalLocationDate":null,"LocationDate":null,"LocationDatePrecision":"0","CoordinateType":"decimal","Latitude":23.15776,"Longitude":113.353616,"Interactor1":"Axinoscymnus
        cardilobus","Interactor1Common":null,"Interactor1Wholepart":null,"Interactor1WholePartType":null,"Interactor1Number":null,"Interactor1Kingdom":"Animalia","Interactor1Phylum":"Arthropoda","Interactor1Class":"Insecta","Interactor1Order":"Coleoptera","Interactor1Family":"Coccinellidae","Interactor1Genus":"Axinoscymnus","Interactor1Species":"cardilobus","Interactor1Stage":"adult","Interactor1Sex":null,"Interactor1Temp":17.0,"Interactor1TempUnit":"Celsius","Interactor1TempMethod":null,"Interactor1GrowthTemp":null,"Interactor1GrowthTempUnit":null,"Interactor1GrowthDur":null,"Interactor1GrowthdDurUnit":null,"Interactor1GrowthType":null,"Interactor1Acc":null,"Interactor1AccTemp":null,"Interactor1AccTempNotes":null,"Interactor1AccTime":null,"Interactor1AccTimeNotes":null,"Interactor1AccTimeUnit":null,"Interactor1OrigTemp":null,"Interactor1OrigTempNotes":null,"Interactor1OrigTime":null,"Interactor1OrigTimeNotes":null,"Interactor1OrigTimeUnit":null,"Interactor1EquilibTimeValue":null,"Interactor1EquilibTimeUnit":null,"Interactor1Size":null,"Interactor1SizeUnit":null,"Interactor1SizeType":null,"Interactor1SizeSI":null,"Interactor1SizeUnitSI":null,"Interactor1DenValue":null,"Interactor1DenUnit":null,"Interactor1DenTypeSI":null,"Interactor1DenValueSI":null,"Interactor1DenUnitSI":null,"Interactor1MassValueSI":null,"Interactor1MassUnitSI":null,"Interactor2":"Bemisia
        tabaci","Interactor2Common":"tobacco whitefly","Interactor2Kingdom":"Animalia","Interactor2Phylum":"Arthropod","Interactor2Class":"Insecta","Interactor2Order":"Hemiptera","Interactor2Family":"Aleyrodidae","Interactor2Genus":"Bemisia","Interactor2Species":"tabaci","Interactor2Stage":null,"Interactor2Sex":null,"Interactor2Temp":null,"Interactor2TempUnit":null,"Interactor2TempMethod":null,"Interactor2GrowthTemp":null,"Interactor2GrowthTempUnit":null,"Interactor2GrowthDur":null,"Interactor2GrowthDurUnit":null,"Interactor2GrowthType":null,"Interactor2Acc":null,"Interactor2AccTemp":null,"Interactor2AccTempNotes":null,"Interactor2AccTime":null,"Interactor2AccTimeNotes":null,"Interactor2AccTimeUnit":null,"Interactor2OrigTemp":null,"Interactor2OrigTempNotes":null,"Interactor2OrigTime":null,"Interactor2OrigTimeNotes":null,"Interactor2OrigTimeUnit":null,"Interactor2EquilibTimeValue":null,"Interactor2EquilibTimeUnit":null,"Interactor2Size":null,"Interactor2SizeUnit":null,"Interactor2SizeType":null,"Interactor2SizeSI":null,"Interactor2SizeUnitSI":null,"Interactor2DenValue":null,"Interactor2DenUnit":null,"Interactor2DenTypeSI":null,"Interactor2DenValueSI":null,"Interactor2DenUnitSI":null,"Interactor2MassValueSI":null,"Interactor2MassUnitSI":null,"PhysicalProcess":null,"PhysicalProcess_1":null,"PhysicalProcess_2":null,"FigureTable":"table
        4","Citation":"Huang et al 2008. Effects of temperature on development survival
        longevity and fecundity of the Bemisia tabaci Gennadius (Homoptera: Aleyrodidae)
        predator Axinoscymnus cardilobus (Coleoptera: Coccinellidae). Biol Control
        46: 209-215.","CuratedByCitation":null,"CuratedByDOI":null,"DOI":"10.1016/j.biocontrol.2008.04.004","SubmittedBy":"Lauren
        Chapman","ContributorEmail":"phuxly@gmail.com","Notes":"The species A. cardilobus
        is a major predator of the B. tabaci species.  A. cardilobus was in contact
        with their prey which is why B. tabaci is interactor2.","DefaultChartXaxis":"Interactor1Temp","DefaultChartCategory":"LocationText"},{"Id":"83439","DatasetID":160,"IndividualID":"","OriginalID":"LC1111","OriginalTraitName":"longevity","OriginalTraitDef":"mean
        duration of life stage","StandardisedTraitName":null,"StandardisedTraitDef":null,"OriginalTraitValue":98.9,"OriginalTraitUnit":"days","OriginalErrorPos":13.1,"OriginalErrorNeg":13.1,"OriginalErrorUnit":"se","StandardisedTraitValue":null,"StandardisedTraitUnit":null,"StandardisedErrorPos":null,"StandardisedErrorNeg":null,"StandardisedErrorUnit":nul[...]
[...]
