http_interactions:
- request:
    method: GET
    uri: https://vectorbyte.crc.nd.edu/portal/api/vectraits-explorer?format=json&field=Interactor1Genus&operator=contains&term=Bemisia
  response:
    status: 200
    headers:
      Allow: GET, HEAD, OPTIONS
      Content-Type: application/json
    body:
      string: '{"data":{"count":7,"next":null,"previous":null,"results":[{"url":"vectorbyte.crc.nd.edu/portal/api/vectraits-dataset/14/","DatasetID":"14","OriginalTraitName":"survival","Variables":["Interactor1Temp","LocationText"],"Tags":[],"Interactor1Stage":"juvenile","Interactor1Sex":null,"Interactor1Genus":"Bemisia","Interactor1Species":"tabaci","Interactor2Genus":null,"Interactor2Species":null,"Citation":"Aregbesola
        et al. 2020. Life history and temperature dependence of cassava colonising
        populations of Bemisia tabaci. J. Pest. Sci 93: 4","DOI":"10.1007/s10340-020-01249-z","CuratedByDOI":null,"SubmittedBy":"Paul
        Huxley","EmbargoReleaseDate":"2020-01-01"},{"url":"vectorbyte.crc.nd.edu/portal/api/vectraits-dataset/15/","DatasetID":"15","OriginalTraitName":"development
        time","Variables":["Interactor1Temp",null],"Tags":[],"Interactor1Stage":"juvenile","Interactor1Sex":null,"Interactor1Genus":"Bemisia","Interactor1Species":"tabaci","Interactor2Genus":null,"Interactor2Species":null,"Citation":"Aregbesola
        et al. 2020. Life history and temperature dependence of cassava colonising
        populations of Bemisia tabaci. J. Pe[...]
- request:
    method: GET
    uri: https://vectorbyte.crc.nd.edu/portal/api/vectraits-dataset/14?format=json
  response:
    status: 200
    headers:
      Allow: GET, HEAD, OPTIONS
      Content-Type: application/json
    body:
      string: '{"results":[{"Id":"81595","DatasetID":14,"IndividualID":"","OriginalID":"PHX111","OriginalTraitName":"survival","OriginalTraitDef":"percent
        surviving life stage","StandardisedTraitName":null,"StandardisedTraitDef":null,"OriginalTraitValue":14.9,"OriginalTraitUnit":"percent","OriginalErrorPos":5.3,"OriginalErrorNeg":5.3,"OriginalErrorUnit":"95%
        CI","StandardisedTraitValue":null,"StandardisedTraitUnit":null,"StandardisedErrorPos":null,"StandardisedErrorNeg":null,"StandardisedErrorUnit":null,"Replicates":null,"Habitat":"terrestrial","LabField":"laboratory","ArenaValue":null,"ArenaUnit":null,"ArenaValueSI":null,"ArenaUnitSI":null,"AmbientTemp":null,"AmbientTempMethod":null,"AmbientTempUnit":null,"AmbientLight":null,"AmbientLightUnit":null,"SecondStressor":null,"SecondStressorDef":null,"SecondStressorValue":null,"SecondStressorUnit":null,"TimeStart":null,"TimeEnd":null,"TotalObsTimeValue":null,"TotalObsTimeUnit":null,"TotalObsTimeValueSI":null,"TotalObsTimeUnitSI":null,"TotalObsTimeNotes":null,"ResRepValue":null,"ResRepUnit":null,"ResRepValueSI":null,"ResRepUnitSI":null,"Location":"Dar
        es Salaam Tanzania","LocationType":"colony","OriginalLocationDate":null,"LocationDate":null,"LocationDatePrecision":"0","CoordinateType":"decimal","Latitude":-6.8,"Longitude":39.283333,"Interactor1":"Bemisia
        tabaci","Interactor1Common":"Silverleaf whitefly","Interactor1Wholepart":null,"Interactor1WholePartType":null,"Interactor1Number":"45","Interactor1Kingdom":"Animalia","Interactor1Phylum":"Arthropoda","Interactor1Class":"Insecta","Interactor1Order":"Hemiptera","Interactor1Family":"Aleyrodidae","Interactor1Genus":"Bemisia","Interactor1Species":"tabaci","Interactor1Stage":"juvenile","Interactor1Sex":null,"Interactor1Temp":16.0,"Interactor1TempUnit":"Celsius","Interactor1TempMethod":null,"Interactor1GrowthTemp":null,"Interactor1GrowthTempUnit":null,"Interactor1GrowthDur":null,"Interactor1GrowthdDurUnit":null,"Interactor1GrowthType":null,"Interactor1Acc":null,"Interactor1AccTemp":null,"Interactor1AccTempNotes":null,"Interactor1AccTime":null,"Interactor1AccTimeNotes":null,"Interactor1AccTimeUnit":null,"Interactor1OrigTemp":null,"Interactor1OrigTempNotes":null,"Interactor1OrigTime":null,"Interactor1OrigTimeNotes":null,"Interactor1OrigTimeUnit":null,"Interactor1EquilibTimeValue":null,"Interactor1EquilibTimeUnit":null,"Interactor1Size":null,"Interactor1SizeUnit":null,"Interactor1SizeType":null,"Interactor1SizeSI":null,"Interactor1SizeUnitSI":null,"Interactor1DenValue":null,"Interactor1DenUnit":null,"Interactor1DenTypeSI":null,"Interactor1DenValueSI":null,"Interactor1DenUnitSI":null,"Interactor1MassValueSI":null,"Interactor1MassUnitSI":null,"Interactor2":"None
        None","Interactor2Common":null,"Interactor2Kingdom":null,"Interactor2Phylum":null,"Interactor2Class":null,"Interactor2Order":null,"Interactor2Family":null,"Interactor2Genus":null,"Interactor2Species":null,"Interactor2Stage":null,"Interactor2Sex":null,"Interactor2Temp":null,"Interactor2TempUnit":null,"Interactor2TempMethod":null,"Interactor2GrowthTemp":null,"Interactor2GrowthTempUnit":null,"Interactor2GrowthDur":null,"Interactor2GrowthDurUnit":null,"Interactor2GrowthType":null,"Interactor2Acc":null,"Interactor2AccTemp":null,"Interactor2AccTempNotes":null,"Interactor2AccTime":null,"Interactor2AccTimeNotes":null,"Interactor2AccTimeUnit":null,"Interactor2OrigTemp":null,"Interactor2OrigTempNotes":null,"Interactor2OrigTime":null,"Interactor2OrigTimeNotes":null,"Interactor2OrigTimeUnit":null,"Interactor2EquilibTimeValue":null,"Interactor2EquilibTimeUnit":null,"Interactor2Size":null,"Interactor2SizeUnit":null,"Interactor2SizeType":null,"Interactor2SizeSI":null,"Interactor2SizeUnitSI":null,"Interactor2DenValue":null,"Interactor2DenUnit":null,"Interactor2DenTypeSI":null,"Interactor2DenValueSI":null,"Interactor2DenUnitSI":null,"Interactor2MassValueSI":null,"Interactor2MassUnitSI":null,"PhysicalProcess":null,"PhysicalProcess_1":null,"PhysicalProcess_2":null,"FigureTable":"SM1","Citation":"Aregbesola
        et al. 2020. Life history and temperature dependence of cassava colonising
        populations of Bemisia tabaci. J. Pest. Sci 93: 4","CuratedByCitation":null,"CuratedByDOI":null,"DOI":"10.1007/s10340-020-01249-z","SubmittedBy":"Paul
        Huxley","ContributorEmail":"phuxly@gmail.com","Notes":null,"DefaultChartXaxis":"Interactor1Temp","DefaultChartCategory":"LocationText"},{"Id":"81596","DatasetID":14,"IndividualID":"","OriginalID":"PHX111","OriginalTraitName":"survival","OriginalTraitDef":"percent
        surviving life stage","StandardisedTraitName":null,"StandardisedTraitDef":null,"OriginalTraitValue":43.3,"OriginalTraitUnit":"percent","OriginalErrorPos":11.1,"OriginalErrorNeg":11.1,"OriginalErrorUnit":"95%
        CI","StandardisedTraitValue":null,"StandardisedTraitUnit":null,"StandardisedErrorPos":null,"StandardisedErrorNeg":null,"Standardised[...]
[...]
