http_interactions:
- request:
    method: GET
    uri: https://api.vbdhub.org/search?query=Aedes+aegypti&database=vt%2Cvd%2Cgbif%2Cpx&limit=1&page=1&withoutPublished=true
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      origin-agent-cluster: ?1
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"count":145,"hits":[{"id":"d4eb19bc-fdce-415f-9a61-49b036009840","title":"Global
        compendium of Aedes aegypti occurrence","description":"Aedes aegypti and Ae.
        albopictus are the main vectors transmitting dengue and chikungunya viruses.
        Despite being pathogens of global public health importance, knowledge of their
        vectors’ global distribution remains patchy and sparse. A global geographic
        database of known occurrences of Ae. aegypti and Ae. albopictus between 1960
        and 2014 was compiled. Herein we present the database, which comprises occurrence
        data linked to point or polygon locations, derived from peer-reviewed literature
        and unpublished studies including national entomological surveys and expert
        networks. We describe all data collection processes, as well as geo-positioning
        methods, database management and quality-control procedures. This is the first
        comprehensive global database of Ae. aegypti and Ae. albopictus occurrence,
        consisting of 19,930 and 22,137 geo-positioned occurrence records respectively.
        Both datasets can be used for a variety of mapping and spatial analyses of
        the vectors and, by inference, the diseases they transmit.","doi":"10.15468/bgmqmr","type":"occurrence","author":"rdmpage","citation":"Page
        R D M, Kraemer M U G, Sinka M E, Duda K A, Mylne A, Shearer F M, Brady O J,
        Messina J P, Barker C M, Moore C G, Carvalho R G, Coelho G E, Van Bortel W,
        Hendrickx G, Schaffner F, Wint G R W, Elyazar I R F, Teng H, Hay S I. Global
        compendium of Aedes aegypti occurrence. Institute of Biodiversity, Animal
        Health and Comparative Medicine, College of Medical, Veterinary and Life Sciences,
        University of Glasgow. Occurrence dataset https://doi.org/10.15468/bgmqmr
        accessed via GBIF.org on 2025-10-31.","kingdom":["Animalia"],"phylum":["Arthropoda"],"class":["Insecta"],"order":["Diptera"],"family":["Culicidae"],"genus":["Aedes"],"species":["Aedes
        aegypti"],"unknown":[],"db":"gbif"}]}'
  recorded_at: 2025-11-01 00:44:38
[...]
- request:
    method: GET
    uri: https://api.vbdhub.org/search?query=Aedes+aegypti&database=vt%2Cvd%2Cgbif%2Cpx&limit=50&page=2&withoutPublished=true
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      origin-agent-cluster: ?1
      speculation-rules: '"/cdn-cgi/speculation"'
    body:
      string: '{"count":145,"hits":[{"id":"148","title":"Gulia-Nuss et al. 2015. Multiple
        factors contribute to anautogenous reproduction by the mosquito Aedes aegypti.
        J Insect Physiol. 82","doi":"10.1016/j.jinsphys.2015.08.001","type":"trait","kingdom":["Animalia"],"phylum":["Arthropoda"],"class":["Insecta"],"order":["Diptera"],"family":["Culicidae"],"genus":["Aedes"],"species":["Aedes
        aegypti"],"unknown":[],"db":"vt"},{"id":"PXD042798","title":"Wolbachia strains
        differ in arbovirus inhibition mechanisms in Aedes mosquitoes","description":"","type":"proteomic","published":"2024-02-15T00:00:00.000Z","kingdom":["Bacteria","Animalia"],"phylum":["Proteobacteria","Arthropoda"],"class":["Alphaproteobacteria","Insecta"],"order":["Rickettsiales","Diptera"],"family":["Anaplasmataceae","Culicidae"],"genus":["Wolbachia","Aedes"],"species":["Aedes
        aegypti"],"unknown":[],"db":"px"},{"id":"578","title":"Huxley et al. 2022.
        Competition and resource depletion shape the thermal response of population
        fitness in Aedes aegypti. Commun. Biol. 5: 66.","doi":"1[...]
[...]
